.profile {
	padding-top: 30px;
	margin-top: 90px;
	border-radius: 5px;
	box-shadow: 5px 2px 10px 4px rgb(177, 177, 177);
	width: 250px;
	margin-left: auto;
	margin-right: auto;
}
.description {
	font-size: 20px;
	text-align: center;
}

.avatar {
	width: 180px;
}

.name {
	color: rgb(58, 57, 57);
	text-shadow: 2px 1px 2px rgb(99, 99, 99);
}

.tag {
	color: rgb(124, 124, 124);
	font-size: 15px;
}

.location {
	color: rgb(124, 124, 124);
	font-size: 15px;
}

.stats {
	background-color: rgb(145, 145, 145);
	list-style: none;
	padding: 10px 35px;
	font-size: 15px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	display: flex;
	line-height: 1.5;
	text-align: center;
}

.label {
	color: rgba(70, 69, 68, 0.932);
}

.quantity {
	color: rgba(246, 250, 242, 0.932);
	display: inline-flex;
	justify-content: end;
}
