.friendList {
	list-style: none;
	padding: 0;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 80px;
}

.item {
	background-color: rgb(145, 145, 145);
	box-shadow: 5px 2px 10px 4px rgb(177, 177, 177);
	padding: 20px;
	display: flex;
	align-items: center;
	margin-bottom: 15px;
	width: 300px;
	border-radius: 5px;
}

.avatar {
	width: 100px;
	margin-right: 40px;
}

.name {
	color: rgb(58, 58, 58);
	font-size: 30px;
}

.online {
	width: 15px;
	height: 15px;
	background-color: green;
	border-radius: 50%;
	margin-right: 10px;
}

.offline {
	width: 15px;
	height: 15px;
	background-color: red;
	border-radius: 50%;
	margin-right: 10px;
}
